<% content_for :title, "Zip Demographics" %>
<% content_for :meta, "A civil defense system against the living dead." %>
<h1><%= ZipDemographic.count %> Zip Demographics Total Counting All Sources</h1>