<script type="text/javascript" src="http://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22maps%22%2C%22version%22%3A%222%22%7D%5D%7D&key=***REMOVED***"></script>
<script language="javascript" src="/javascripts/application.js"></script>
<script language="javascript" src="/javascripts/plan_controls.js"></script>

<h1 style="margin:0;">Disaster Plan</h1>

<noscript><b>JavaScript must be enabled in order for you to use Google Maps.</b> 
   However, it seems JavaScript is either disabled or not supported by your browser. 
   To view Google Maps, enable JavaScript by changing your browser options, and then 
   try again.
 </noscript>

<br />

<table style="text-align: left;" border="0" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td>
	<div id="map" style="width: 675px; height: 400px"><center><br /><br /><br /><h3>Loading Map...</h3><br /><img src="/images/ajax-loader.gif" /></center></div>
</td>
<td>
<table style="text-align: left;" border="0" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td>
	<A onMouseOver="return handleAddButtonMouseOver()" onMouseOut= "return handleAddButtonMouseOut()"
	onMouseDown="return handleAddButtonMouseDown()" onMouseUp="return handleAddButtonMouseUp()">
	<img name="addButton" src="/images/add_unselected_button.png" width="136" height="37" border="0" alt="Add Button">
	</A>
</td>
</tr>
<tr>
<td>
	<A onMouseOver="return handleModifyButtonMouseOver()" onMouseOut= "return handleModifyButtonMouseOut()"
	onMouseDown="return handleModifyButtonMouseDown()" onMouseUp="return handleModifyButtonMouseUp()">
	<img name="modifyButton" src="/images/modify_unselected_button.png" width="136" height="37" border="0" alt="Modify Button">
	</A>
</td>
</tr>
<tr>
<td>
	<A onMouseOver="return handleRemoveButtonMouseOver()" onMouseOut= "return handleRemoveButtonMouseOut()"
	onMouseDown="return handleRemoveButtonMouseDown()" onMouseUp="return handleRemoveButtonMouseUp()">
	<img name="removeButton" src="/images/remove_unselected_button.png" width="136" height="37" border="0" alt="Remove Button">
	</A>
</td>
</tr>
<tr>
<td>
	<A onMouseOver="return handleTrafficButtonMouseOver()" onMouseOut= "return handleTrafficButtonMouseOut()"
	onMouseDown="return handleTrafficButtonMouseDown()" onMouseUp="return handleTrafficButtonMouseUp()">
	<img name="trafficButton" src="/images/traffic_unselected_button.png" width="136" height="37" border="0" alt="Traffic Button">
	</A>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>

Search: <form onsubmit="showAddress(); return false" action="#">
	<input id="search" size="50" type="text" value="" />
	<input type="submit" value="Go!" />
</form>

<br />
<div id="message"></div>
