<h1 style="margin:0;">Disaster Plan</h1>

<noscript><b>JavaScript must be enabled in order for you to use Google Maps.</b> 
   However, it seems JavaScript is either disabled or not supported by your browser. 
   To view Google Maps, enable JavaScript by changing your browser options, and then 
   try again.
 </noscript>

<br />

Search: <form onsubmit="showAddress(); return false" action="#">
	<input id="search" size="50" type="text" value="" />
	<input type="submit" value="Go!" />
	<input type="button" value="Show Traffic" id="traffic_button" onClick="toggleTraffic();"/>
</form>

<br />

<div id="map" style="width: 820px; height: 400px"><center><br /><br /><br /><h3>Loading Map...</h3><br /><img src="/images/ajax-loader.gif" /></center></div>
<br />
<div id="location"></div>

<br />