<h1 style="margin:0;">Disaster Plan</h1>

<div id="location">Loading...</div>

<div id="map" style="width: 770px; height: 400px">Loading...</div>


<script language='Javascript' type='text/javascript'>
/*
//skip this in a browser that doesn't support JavaScritp
//<![CDATA[

alert("1");
//load map module version 2
google.load("maps", "2");

alert("3");

//create the main function
function OnLoad() {
	alert("2");
        
   //checks if user's browser is supports AJAX 
   if ((GBrowserIsCompatible())) {   
           
   //set initial values for latitude, longitude and zoom
   var lon = 0;
   var lat = 0;
   var zoom = 0;

   //if google.loader is able to discover user information...
   if(google.loader.ClientLocation!=null){

      //read user's informations to following variables
      var country = google.loader.ClientLocation.address.country;
      var region = google.loader.ClientLocation.address.region;
      var city = google.loader.ClientLocation.address.city;
      lat = google.loader.ClientLocation.latitude;
      lon = google.loader.ClientLocation.longitude;
      zoom = 5;

      var locationString = country + ", " + region+ ", " + city;    
      //and now we can insert that information into element with
      //id="location"
      document.getElementById("location").innerHTML = locationString;
   }
   //otherwise print information in location div
   else{
      document.getElementById("location").innerHTML = "not supported";
   }
          
   //create a map object in element with id="map"
   var map = new GMap2(document.getElementById("map"));
   //center map to client's geographic coordination 
   //(it they exists, otherwise use initial values)
   //the last number let u customize your zoom value
   //the grater the number, the more detailed map you will have        
   map.setCenter(new GLatLng(lat, lon), zoom);           
   //add market at visitor's location
   map.addOverlay(new GMarker(new GLatLng(lat, lon)));
  
   //customize the map
   map.setMapType(G_SATELLITE_MAP);
   map.GMap2.disableGoogleBar(); 
   }
else{ 
   //insert information into element with id="location"
   document.getElementById("location").innerHTML = "AJAX not supported";
 }
}

//pass OnLoad() function to call back function
alert("4");
google.setOnLoadCallback(OnLoad);
*/
//]]>
</script>

<br />