<% content_for :title, "Zombie Strategies | Admin" %>
<h1>Admin Control Panel</h1>
<br />
<h2><%= link_to 'Manage Users', users_path %></h2>
<br />
<h2><%= link_to 'Manage Items and Categories', new_product_path %></h2>
<br />
<h2><%= link_to 'Manage Location Profiles', location_profiles_path %></h2>
<br />
<h2><%= link_to 'Manage Trends', twitter_trends_path %></h2>