<h1>About Zombie Strategies</h1>
<br />
<h2>What is it?</h2>
<h3>Zombie Strategies is many things, but it is foremost a place to exercise your wildest imagination.</h3>
<br />
<h2>Our Guiding Philosophy</h2>
<h3>Zombies are quickly becoming a significant pop culture horror reference, but the appeal of the undead horror genre to zombie fans is often misunderstood by the general public.  We believe the lure towards the genre lies in the debating survival strategies.</h3>
<br/>
<h3>We love debating zombie survival scenarios and we think that given the chance many more people would share our same passion, so we've tried our best to create an open ended platform for users to work out their own survival strategies.</h3>
<br />
<h3>You'll notice that nowhere on this site do we ever try to imply what a zombie is or is not, we leave that definition up to you!</h3>
<br />
<h2>The Disaster Plan</h2>
<h3>We can't tell you how it would go down, but we can help you figure out where to go if it does!  The disaster plan page is a community maintained collection of survival supply locations. Anyone can add, modify, and delete locations in the collection similar to Wikipedia.</h3>
<br />
<h3>To get started visit our how to page.</h3>
<br />
<h2>The Monitor</h2>
<h3>This area shows current trends in various internet searches and Twitter chatter that is flagged as being a possible zombie outbreak.  Increased chatter correlates to a higher zombie threat level.</h3>
<br />
<h3>If the threat level exceeds the bounds of acceptable risk, we alert our registered users via email, text message, Twitter, and automated phone messages.</h3>
<br />
<h2>Getting Involved</h2>
<h3>We need your help!  The supply location collection is maintained by users like you.  Help add the locations of zombie survival supplies in your home town.</h3>
<br />
<h3>As always, feel free to stop by and say hi on our <a href="http://www.forum.zombiestrategies.com/">community forums</a>.</h3>
<br />
<h3>If you have an idea or feature request for this site consider adding it to our <a href="/feedback">feedback page</a>.</h3>
<br />
<h2>The Developers</h2>
<h3>This project is built by a team of rock star programmers who code all night and party everyday.  If you like what you see, keep the project going by buying the team another round of energy drinks!</h3>
<br />
<center>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="cmd" value="_s-xclick"/>
<input type="hidden" name="hosted_button_id" value="UTHEXFVS6A56W"/>
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"/>
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
</form>
</center>