<% content_for :title, "Zombie Strategies | Donate" %>
<% content_for :meta, "This project is built by a team of rock star programmers who code all night and party everyday.  If you like what you see, keep the project going by buying the team another round of energy drinks!" %>
<h1>Accepting Donations</h1>
<br />
<h3>This project is built by a team of rock star programmers who code all night and party everyday.  If you like what you see, keep the project going by buying the team another round of energy drinks!</h3>
<br />
<h3>Donations are made securely through our partnership with PayPal.</h3>
<br />
<h3>Any amount is greatly appreciated!</h3>
<br />
<center>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
	<input type="hidden" name="cmd" value="_s-xclick"/>
	<input type="hidden" name="hosted_button_id" value="UTHEXFVS6A56W"/>
	<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!"/>
	<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1"/>
	</form>
</center>