<% content_for :title, "Home" %>
<% content_for :meta, "A civil defense system against the living dead.  Zombie Strategies is a user driven community that is working to map the locations of emergency survival supplies." %>
<%= stylesheet_link_tag 'information/home' %>
<div id="left-content">
	<h1>What is Zombie Strategies?</h1>
	<br />
	<h5>Zombie Strategies is a user driven community that is working to map the locations of emergency survival supplies. Building a core database of supply locations enables us to work on many other exciting projects which are displayed in our <a href="/labs">Zombie Strategies Labs</a> section.</h5>
	<br />
	<h5>Zombie Strategies is a free service that is still in active development.  If you find something broken or have a question please let us know through our <a href="/contact">Contact</a> page.</h5>
	<br />
	<h1>Get Prepared</h1>
	<br />
	<h5>To view the locations of survival supplies in your area navigate to the <a href="/maps">Maps</a> page.</h5>
	<br />
	<h5>To register your free account, navigate to the <a href="/signup">Sign Up</a> page.</h5>
	<br />
	<h1>Get Involved</h1>
	<br />
	<a href="http://twitter.com/ZombieStrategy"><img src="/images/social/twitter.png" alt="Twitter" /></a>
	&nbsp;
    <a href="http://www.facebook.com/GetPrepared"><img src="/images/social/facebook.png" alt="Facebook" /></a>
</div>

<div id="twitter">
	<h2>&nbsp;Announcements&nbsp;&nbsp;&nbsp;&nbsp;<font size="2" face="Verdana"><a href="http://twitter.com/ZombieStrategy">(Follow us on Twitter)</a></font></h2>
	<div id="twitter-header"></div>
	<div id="tweets">
		<br />
		<p>Loading Zombie Strategy Tweets... <img src="/images/loading-indicator.gif" alt="Loading" /></p>
		<p><a href="http://twitter.com/ZombieStrategy">Zombie Strategies Twitter Updates and Alerts</a></p>
		<br />
	</div>
	<div id="twitter-footer"></div>
	<br />
	<center><a href="http://itunes.apple.com/us/app/zombie-strategies-prepare/id404454662?mt=8"><img src="/images/appstore.png" alt="Get the Zombie Strategies App FREE on the iTunes App Store!" /></a></center>
</div>

<script 
 src="http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js" 
 type="text/javascript">
</script>
<script type="text/javascript" charset="utf-8">
getTwitters('tweets', { 
  id: 'ZombieStrategy', 
  count: 3, 
  enableLinks: true, 
  ignoreReplies: true, 
  clearContents: true,
  template: '<div id="tweet"><img height="24" width="16" src="/images/standalone_zombie.png" alt=" - "/>&nbsp;&nbsp;<font size="2" face="sans-serif">"%text%"&nbsp;&nbsp;<a href="http://twitter.com/%user_screen_name%/statuses/%id%">%time%</a></font></div>'
});
</script>