<%= stylesheet_link_tag 'information/home' %>
<div id="left-content">
	<h1>What is Zombie Strategies?</h1>
	<br />
	<h5>Zombie Strategies is a user driven community that is working to map the locations of emergency survival supplies. Zombie Strategies is also a predictive zombie civil defense system which monitors for indications of a possible zombie apocalypse and can automatically alert users through multiple mediums.</h5>
	<br />
	<h5>Zombie Strategies is still in active development, but a lot of exciting features are coming soon!  Please submit bug reports or project ideas to our dedicated <a href="/feedback">feedback page</a>.</h5>
	<br />
	<h1>Getting Started</h1>
	<br />
	<h5>To start helping map the locations of survival supplies in your area click the "Plan" link above in the navigation bar.  Click the "Monitor" link to check out the threat detection system.</h5>
	<br />
	<h5>To register your free account, click the "Sign Up" button.</h5>
</div>

<div id="twitter">
	<h2>Zombie Alert System&nbsp;&nbsp;<font size="2" face="Verdana"><a href="http://twitter.com/ZombieStrategy">(Follow on Twitter)</a></font></h2>
	<div id="twitter-header"></div>
	<div id="tweets">
		<br />
		<p>Loading Zombie Strategy Tweets... <img src="/images/loading-indicator.gif" /></p>
		<p><a href="http://twitter.com/ZombieStrategy">Zombie Strategies Twitter Updates and Alerts</a></p>
		<br />
	</div>
	<div id="twitter-footer"></div>
</div>

<script 
 src="http://twitterjs.googlecode.com/svn/trunk/src/twitter.min.js" 
 type="text/javascript">
</script>
<script type="text/javascript" charset="utf-8">
getTwitters('tweets', { 
  id: 'ZombieStrategy', 
  count: 3, 
  enableLinks: true, 
  ignoreReplies: true, 
  clearContents: true,
  template: '<div id="tweet"><img height="24" width="16" src="/images/standalone_zombie.png" />&nbsp;&nbsp;<font size="2" face="sans-serif">"%text%"&nbsp;&nbsp;<a href="http://twitter.com/%user_screen_name%/statuses/%id%">%time%</a></font></div>'
});
</script>