<% content_for :title, "Zombie Strategies | How To" %>
<h1>Getting Started</h1>
<br />
<h2><a href="http://www.fribblesoft.com/zs-content/How_To_Add_A_Location.swf">Learn how to add a supply location to the map</a></h2>