<h1>Zombie Strategies Labs</h1>
<br />
<h2>Zombie Strategies Labs is a playground for our engineers to try out their wild and crazy ideas in order to better prepare for a zombie apocalypse.</h2>
<br />
<h3><a href="/spread_the_word"><u>Project: Spread the Word!</u></a></h3>
<br />
<h5>Spread the Word! is an attempt to raise zombie threat awareness.  An 8 step guide to zombie preparation has been prepared for distribution by enterprising individuals.  Additional literature and awareness mediums will be posted to this project page as they are made available.</h5>
<h4><font color="#990404">Status: Released</font></h4>
<br />
<br />
<h3><a href="/zs_prepare_ios"><u>Project: ZS Prepare</u></a></h3>
<br />
<h5>ZS Prepare is a free iPhone application which allows remote access to the Zombie Strategies supply location database.  The application comes complete with an 8 step guide for zombie preparation.  Android versions of the App will follow the release of ZS Prepare to the iOS platform.</h5>
<h4><font color="#990404">Status: Beta Testing - Targeted Release Christmas 2010</font></h4>
<br />
<br />
<h3><u>Project: Zombie Alert System (Z.A.S.)</u></h3>
<br />
<h5>The Zombie Alert System is an emergency zombie civil defense system which utilizes multiple mediums to alert users of impending doom. Registering for a <u><a href="/signup">free account</a></u> on Zombie Strategies ensures that you will be able to receive emergency zombie alerts once the system goes online.  Users may choose to receive alerts through a combination Email, Text Message, Automated Phone Broadcasts, or Twitter.</h5>
<h4><font color="#990404">Status: Implementing</font></h4>
<br />
<br />
<h3><u>Project: Zombie Threat Detection System</u></h3>
<br />
<h5>The Zombie Threat Detection System is a predictive system which monitors for indications of possible zombie outbreaks by detecting trends in social media.  The Zombie Threat Detection system can be used to automatically trigger the Zombie Alert System and warn users if a predefined threat threshold is exceeded.</h5>
<h4><font color="#990404">Status: Prototyping</font></h4>
<br />
<br />
<h3><u>Project: ZS Predict</u></h3>
<br />
<h5>The ZS Predict project is a massive undertaking to build a large scale simulator to predict zombie movement and infection rates over geographic regions.  Data is pulled from the U.S. Census and other sources to build an accurate model of various apocalyptic zombie scenarios.</h5>
<h4><font color="#990404">Status: Active Development - Design and Prototyping</font></h4>