<% content_for :title, "Zombie Strategies | Links" %>
<% content_for :meta, "If you liked this site, you may also like these other sites." %>
<h1>Links</h1>
<br />
<h2>If you liked this site, you may also like these other sites.</h2>
<br />
<ul>
	<li><h3><a href="http://www.zombiezonenews.com">Zombie Zone News</a></h3></li>
	<li><h3><a href="http://www.ifyouwereazombie.com/zombie-cards.html">If You Were A Zombie Greeting Cards</a></h3></li>
	<li><h3><a href="http://www.class3outbreak.com">Class 3 Outbreak</a></h3></li>
	<li><h3><a href="http://www.zombiegames.net">Zombie Games</a></h3></li>
	<li><h3><a href="http://www.zombiehoard.com">Zombie Hoard</a></h3></li>
	<li><h3><a href="http://www.zombiesandtoys.com">Zombies and Toys</a></h3></li>
	<li><h3><a href="http://www.zombiehunters.org">Zombie Hunters</a></h3></li>
	<li><h3><a href="http://www.zombieapocalypsegames.com">Zombie Apocalypse Games</a></h3></li>
</ul>
