<% content_for :title, "Links" %>
<% content_for :meta, "If you liked this site, you may also like these other sites." %>
<div style="position:relative; left:-25px; background-image:url(/images/backgrounds/paper_4.png); width:900px; height:580px;">
	<div style="float:left; margin-left:25px;">
		<br />
		<h2>Links</h2>
		<br />
		<h3>If you liked this site, you may also like these other sites.</h3>
		<br />
		<div style="float:left; margin-left:50px;">
			<h3><a href="http://www.zombiezonenews.com" target="_blank" ><img src="/images/link-banners/zombie-zone-news.gif" width="350" height="105" alt="Zombie Zone News" /></a></h3>
			<br />
			<h3><a href="http://www.humansvszombies.org" target="_blank" ><img src="/images/link-banners/hvz.png" width="350" height="105" alt="Humans Vs. Zombies" /></a></h3>
			<br />
			<h3><a href="http://www.scaresthatcare.org" target="_blank" ><img src="/images/link-banners/scares-that-care.jpg" width="350" height="105" alt="Scares That Care" /></a></h3>
			<br />
			<br />
			<h3><a href="http://www.zombieapocalypsegames.com" target="_blank" >Zombie Apocalypse Games</a></h3>
		</div>
		<div style="float:right; margin-left:50px;">
			<h3><a href="http://www.class3outbreak.com" target="_blank" ><img src="/images/link-banners/class3outbreak.jpg" width="350" height="105" alt="Class 3 Outbreak" /></a></h3>
			<br />
			<h3><a href="http://www.zombiesandtoys.com" target="_blank" ><img src="/images/link-banners/zombies-and-toys.jpg" width="350" height="105" alt="Zombies and Toys" /></a></h3>
			<br />
			<h3><a href="http://www.zombiehoard.com" target="_blank" ><img src="/images/link-banners/zombie-hoard.png" width="350" height="105" alt="Zombie Hoard" /></a></h3>
			<br />
			<br />
			<h3><a href="http://www.zombiegames.net" target="_blank" >Zombie Games</a></h3>
		</div>
	</div>
</div>