<% content_for :title, "Zombie Strategies | Links" %>
<% content_for :meta, "If you liked this site, you may also like these other sites." %>
<div style="position:relative; left:-25px; background-image:url(/images/backgrounds/paper_4.png); width:900px; height:580px;">
	<div style="margin-left:25px;">
		<br />
		<center>
		<h2>Links</h2>
		<br />
		<h3>If you liked this site, you may also like these other sites.</h3>
		<br />
			<h3><a href="http://www.zombiezonenews.com">Zombie Zone News</a></h3>
			<h3><a href="http://www.ifyouwereazombie.com/zombie-cards.html">If You Were A Zombie Greeting Cards</a></h3>
			<h3><a href="http://www.class3outbreak.com">Class 3 Outbreak</a></h3>
			<h3><a href="http://www.zombiegames.net">Zombie Games</a></h3>
			<h3><a href="http://www.zombiehoard.com">Zombie Hoard</a></h3>
			<h3><a href="http://www.zombiesandtoys.com">Zombies and Toys</a></h3>
			<h3><a href="http://www.zombiehunters.org">Zombie Hunters</a></h3>
			<h3><a href="http://www.zombieapocalypsegames.com">Zombie Apocalypse Games</a></h3>
		</center>
	</div>
</div>