<% content_for :title, "Spread the Word" %>
<% content_for :meta, "Spread the Word! is an attempt to raise zombie threat awareness.  Help us raise awareness." %>
<%= stylesheet_link_tag 'shadowbox-original' %>
<script type="text/javascript" src="/javascripts/shadowbox.js"></script>
<script type="text/javascript">
Shadowbox.init({
    overlayColor: '#474747',
    overlayOpacity: 0.5
});
</script>

<h1>Spread the Word!</h1>
<br />
<h5>Spread the Word! is an attempt to raise zombie threat awareness.  An 8 step guide to zombie preparation has been prepared for distribution by enterprising individuals.  The pamphlet is designed to be printed on medium weight 18.5" x 12.5" glossy paper, but can be printed on standard 8.5" x 11" paper to make a handy wallet size edition.  If you feel the same way that we do about zombies please feel free to redistribute this information and link back to our site!</h5>
<br />
<h2><a href="http://www.fribblesoft.com/zs-content/ZombieDisasterPlanPamphlet.pdf">Download and spread the word!</a></h2>
<br />
<h5>Click on the thumbnails to see portions of the pamphlet.</h5>
<br />
<%= stylesheet_link_tag 'information/spreadtheword' %>
<div id="pamphlet-images">
	<center><h5>Pamphlet Pages</h5></center>
	<br />
	<a href="/images/individual-pamphlet-images/page_1.png" rel="shadowbox" title="Page 1">
		<img src="/images/individual-pamphlet-images/thumbnails/page_1.png" width="90" height="136" border="0" alt="" />
	</a>
	<a href="/images/individual-pamphlet-images/page_8.png" rel="shadowbox" title="Page 8">
		<img src="/images/individual-pamphlet-images/thumbnails/page_8.png" width="90" height="136" border="0" alt="" />
	</a>
	<a href="/images/individual-pamphlet-images/page_7.png" rel="shadowbox" title="Page 7">
		<img src="/images/individual-pamphlet-images/thumbnails/page_7.png" width="90" height="136" border="0" alt="" />
	</a>
	<a href="/images/individual-pamphlet-images/page_6.png" rel="shadowbox" title="Page 6">
		<img src="/images/individual-pamphlet-images/thumbnails/page_6.png" width="90" height="136" border="0" alt="" />
	</a>
	<br />
	<a href="/images/individual-pamphlet-images/page_2.png" rel="shadowbox" title="Page 2">
		<img src="/images/individual-pamphlet-images/thumbnails/page_2.png" width="90" height="136" border="0" alt="" />
	</a>
	<a href="/images/individual-pamphlet-images/page_3.png" rel="shadowbox" title="Page3">
		<img src="/images/individual-pamphlet-images/thumbnails/page_3.png" width="90" height="136" border="0" alt="" />
	</a>
	<a href="/images/individual-pamphlet-images/page_4.png" rel="shadowbox" title="Page 4">
		<img src="/images/individual-pamphlet-images/thumbnails/page_4.png" width="90" height="136" border="0" alt="" />
	</a>
	<a href="/images/individual-pamphlet-images/page_5.png" rel="shadowbox" title="Page 5">
		<img src="/images/individual-pamphlet-images/thumbnails/page_5.png" width="90" height="136" border="0" alt="" />
	</a>
</div>
<div id="slip-cover">
	<br />
	<br />
	<a href="/images/individual-pamphlet-images/slip-cover.png" rel="shadowbox" title="Slip Cover">
		<img src="/images/individual-pamphlet-images/thumbnails/edge.png" width="44" height="277" border="0" alt="" />
	</a>
</div>
<div id="poster">
	<center><h5>Fold Out Poster On Back</h5></center>
	<br />
	<a href="/images/individual-pamphlet-images/poster.png" rel="shadowbox" title="Fold Out Poster">
	<img src="/images/individual-pamphlet-images/thumbnails/poster.png" width="400" height="272" border="0" alt="" />
	</a>
</div>