<% content_for :title, "Zombie Strategies | Stats" %>
<% content_for :meta, "Server Statistics shows the number of supply locations, location profiles, and the number of registered users on the site." %>
<center>
<h1><u>Site Statistics</u></h1>
<br />
<ul>
<h2><li><%= Location.count %> Supply Locations</li></h2>
<h2><li><%= LocationProfile.count %> Location Profiles</li></h2>
<h2><li><%= User.count %> Registered Users</li></h2>
</ul>
<br />
<script type="text/javascript" language="JavaScript" src="http://twittercounter.com/embed/?username=ZombieStrategy&style=bird"></script>
<noscript><a href="http://twitter.com/ZombieStrategy">Follow @ZombieStrategy on Twitter</a></noscript>
<br />
<!-- Facebook Badge START --><a href="http://www.facebook.com/pages/Zombie-Strategies/143938018990534" target="_TOP" title="Zombie Strategies"><img src="http://badge.facebook.com/badge/143938018990534.1168.381652215.png" width="120" height="122" style="border: 0px;" /></a><!-- Facebook Badge END -->
</center>