<% content_for :title, "Zombie Strategies | Stats" %>
<center>
<h1><u>Server Statistics</u></h1>
<br />
<ul>
<h2><li><%= Location.count %> Supply Locations</li></h2>
<h2><li><%= LocationProfile.count %> Location Profiles</li></h2>
<h2><li><%= User.count %> Registered Users</li></h2>
</ul>
</center>