<% content_for :title, "ZSPrepare" %>
<% content_for :meta, "ZS Prepare is a free iPhone application which allows remote access to the Zombie Strategies supply location database.  The application comes complete with an eight step guide for zombie preparation." %>
<%= stylesheet_link_tag 'shadowbox' %>
<script type="text/javascript" src="/javascripts/shadowbox.js"></script>
<script type="text/javascript">
Shadowbox.init({
    overlayColor: '#474747',
    overlayOpacity: 0.5
});
</script>
<%= stylesheet_link_tag 'labs/zs_prepare_ios' %>
<div id="left-content">
	<h1>ZSPrepare</h1>
	<br />
	<h5><a href="http://itunes.apple.com/us/app/zombie-strategies-prepare/id404454662?mt=8#">ZSPrepare</a> is a free iPhone application which allows remote access to the Zombie Strategies supply location database.  The application comes complete with an 8 step guide for zombie preparation.</h5>
	<br />
	<h5><a href="http://itunes.apple.com/us/app/zombie-strategies-prepare/id404454662?mt=8#">View in iTunes</a></h5>
	<br />
	<h5>Click on the thumbnails below to get a sneak peek of the app.</h5>
	<br />
	<a href="/images/zs_prepare_ios/home_screen.png" rel="shadowbox[screenshots]" title="Home Screen">
		<img src="/images/zs_prepare_ios/home_screen_thumbnail.png" width="128" height="246" border="0" alt="" />
	</a>
	&nbsp;&nbsp;
	<a href="/images/zs_prepare_ios/prepare_screen.png" rel="shadowbox[screenshots]" title="Prepare Screen">
		<img src="/images/zs_prepare_ios/prepare_screen_thumbnail.png" width="128" height="246" border="0" alt="" />
	</a>
	&nbsp;&nbsp;
	<a href="/images/zs_prepare_ios/location_details_screen.png" rel="shadowbox[screenshots]" title="Location Details Screen">
		<img src="/images/zs_prepare_ios/location_details_screen_thumbnail.png" width="128" height="246" border="0" alt="" />
	</a>
	&nbsp;&nbsp;
	<a href="/images/zs_prepare_ios/survival_guide_screen.png" rel="shadowbox[screenshots]" title="Survival Guide Screen">
		<img src="/images/zs_prepare_ios/survival_guide_screen_thumbnail.png" width="128" height="246" border="0" alt="" />
	</a>
	<br />
	<br />
	<object width="560" height="340"><param name="movie" value="http://www.youtube.com/v/rYgSHpEG0qI?fs=1&amp;hl=en_US&amp;hd=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/rYgSHpEG0qI?fs=1&amp;hl=en_US&amp;hd=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="560" height="340"></embed></object>
	<br />
	<br />
	<h4><font color="#990404">Project Status: Released</font></h4>
</div>
<div id="right-content">
	<h1>Change Log</h1>
	<br />
	<ul>
		<h2><li>9/29/2011 - Released Version 2.0 on the App Store</li></h2>
		<br />
		<h2><li>11/25/2010 - Released Version 1.0 on the App Store</li></h2>
		<br />
		<h2><li>11/14/2010 - Submitted Version 1.0 to Apple, Awaiting Approval</li></h2>
	</ul>
</div>