<%= stylesheet_link_tag 'shadowbox' %>
<script type="text/javascript" src="/javascripts/shadowbox.js"></script>
<script type="text/javascript">
Shadowbox.init({
    overlayColor: '#474747',
    overlayOpacity: 0.5
});
</script>
<%= stylesheet_link_tag 'labs/zs_prepare_ios' %>
<div id="left-content">
	<h1>ZS Prepare</h1>
	<br />
	<h5>ZS Prepare is a free iPhone application which allows remote access to the Zombie Strategies supply location database.  The application comes complete with an 8 step guide for zombie preparation.</h5>
	<br />
	<h5>Click on the thumbnails below to get a sneak peek of the app.</h5>
	<br />
	<a href="/images/zs_prepare_ios/prepare_screen.png" rel="shadowbox[screenshots]" title="Prepare Screen">
		<img src="/images/zs_prepare_ios/prepare_screen_thumbnail.png" width="128" height="246" border="0" alt="" />
	</a>
	&nbsp;&nbsp;
	<a href="/images/zs_prepare_ios/location_details_screen.png" rel="shadowbox[screenshots]" title="Location Details Screen">
		<img src="/images/zs_prepare_ios/location_details_screen_thumbnail.png" width="128" height="246" border="0" alt="" />
	</a>
	&nbsp;&nbsp;
	<a href="/images/zs_prepare_ios/survival_guide_screen.png" rel="shadowbox[screenshots]" title="Survival Guide Screen">
		<img src="/images/zs_prepare_ios/survival_guide_screen_thumbnail.png" width="128" height="246" border="0" alt="" />
	</a>
	<br />
	<br />
	<h4><font color="#990404">Project Status: Awaiting Approval</font></h4>
</div>
<div id="right-content">
	<h1>Change Log</h1>
	<br />
	<ul>
		<h2><li>11/14/2010 - Submitted Version 1.0 to Apple, Awaiting Approval</li></h2>
	</ul>
</div>