/* Right Side Content Container */
#right-content {
   width: auto;
   margin-top:0px;
   margin-bottom:0px;
   margin-right:0px;
   margin-left:475px;
}

/* Tight Right Side Content Container (extra space on the right side) */
#tight-right-content {
   width: auto;
   margin-top:0px;
   margin-bottom:0px;
   margin-right:0px;
   margin-left:250px;
}