/* Left Side Content Container */
#left-content {
	width:auto;
	float:left;
	margin:0px;
}

/* Right Side Content Container */
#right-content {
	width:450px;
	margin-left:380px;
	text-align:left;
}

/* Styling for the map prompts */
#message {
	width: 350px;
	padding:0px;
}

/* Yellow Message Container Filler */
#message-box-filler {
	background:url(/images/location_map_controls/filler.png) repeat;
}

/* Message Container */
#message-container {
	width:350px;
	border-style:solid;
	border-width:0px;
}

/* Yellow Options Container Filler */
#options-container-filler {
	background:url(/images/location_map_controls/filler.png) repeat;
}

/* Options Container */
#options-container {
	width:600px;
	border-style:solid;
	border-width:2px;
	margin:10px;
}

/* Options Container */
#options-container-buffer {
	padding:10px;
}