<div class="post">        
  <h1>ZombieStrategies coming soon....</h1>

  <h2>
	Announcements <a href="http://zombiestrategies.com/posts.atom" target="_blank"><img src="/images/rss.png" width="18" height="18" border="0" alt="Subscribe!" /></a>
  </h2>
	


	<h3>
  		<ul>
		<% Post.all(:order => 'created_at DESC', :limit => 3).each do |post| %>
	    	<li>
				<% if post.body.size <= 300 %>
			    	<%= link_to post.title, post %> - <%=h post.body %>
			    <% else %>
			    	<%= link_to post.title, post %> - <%=h post.body.slice!(0..300) %>...
			    <% end %>
			</li>
			<% end %>
  		</ul>
	</h3>
</div>