<div class="post">        
  <h1>ZombieStrategies coming soon....</h1>

  <h2>Announcements</h2>

	<h3>
  		<ul>
		<% Post.all(:order => 'created_at DESC', :limit => 3).each do |post| %>
	    	<li>
				<% if post.body.size <= 300 %>
			    	<%= link_to post.title, post %> - <%=h post.body %>
			    <% else %>
			    	<%= link_to post.title, post %> - <%=h post.body.slice!(0..300) %>...
			    <% end %>
			</li>
			<% end %>
  		</ul>
	</h3>
</div>