<div class="post">
  <h1 style="margin-top:0;margin-bottom:0;">Welcome...</h1>
  <p style="text-indent:40px;margin:0;padding:0;color:#999"><b>to the prototype page for Zombie Strategy.</b></p>
        
	<h2>Content coming soon....</h2>

  <h1>Announcements</h1>
  <ul>
    <li>Absolute linking with CSS</li>
    <li> General font changes</li>
  </ul>
</div>