/* Left Side Content Container */
#left-form {
	width:auto;
	float:left;
	margin:0px;
}

/* Right Side Content Container */
#right-form {
	width:450px;
	margin-left:380px;
	text-align:left;
}

/* Styling for the map prompts */
#message {
	width: 350px;
}