<%= stylesheet_link_tag 'locations/maps' %>
<h1>Currently Tracking <%= Location.count %> Supply Locations and <%= LocationProfile.count %> Location Profiles</h1>
<br />
<script type="text/javascript" src="http://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22maps%22%2C%22version%22%3A%222%22%7D%5D%7D&amp;key=***REMOVED***">
</script>
<script type="text/javascript" src="/javascripts/plan_maps.js"></script>
<script type="text/javascript" src="/javascripts/plan_controls.js"></script>

<h2 style="margin:0;">Disaster Plan</h2>

<br />

<table style="text-align: left;" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td>
	<div id="map" class="view" style="width: 675px; height: 400px"><center><br /><br /><br /><h3>Loading Map...</h3><br /><img src="/images/ajax-loader.gif" alt="Please wait..."/></center></div>
</td>
<td>
<table style="text-align: left;" cellpadding="2" cellspacing="2">
<tbody>
<tr>
<td>
	<a onmouseover="return handleAddButtonMouseOver()" onmouseout= "return handleAddButtonMouseOut()"
	onmousedown="return handleAddButtonMouseDown()" onmouseup="return handleAddButtonMouseUp()">
	<img name="addButton" src="/images/location_map_controls/add_unselected_button.png" width="136" height="37" alt="Add Button"/>
	</a>
</td>
</tr>
<tr>
<td>
	<a onmouseover="return handleModifyButtonMouseOver()" onmouseout= "return handleModifyButtonMouseOut()"
	onmousedown="return handleModifyButtonMouseDown()" onmouseup="return handleModifyButtonMouseUp()">
	<img name="modifyButton" src="/images/location_map_controls/modify_unselected_button.png" width="136" height="37" alt="Modify Button"/>
	</a>
</td>
</tr>
<tr>
<td>
	<a onmouseover="return handleRemoveButtonMouseOver()" onmouseout= "return handleRemoveButtonMouseOut()"
	onmousedown="return handleRemoveButtonMouseDown()" onmouseup="return handleRemoveButtonMouseUp()">
	<img name="removeButton" src="/images/location_map_controls/remove_unselected_button.png" width="136" height="37" alt="Remove Button"/>
	</a>
</td>
</tr>
<tr>
<td>
	<a onmouseover="return handleTrafficButtonMouseOver()" onmouseout= "return handleTrafficButtonMouseOut()"
	onmousedown="return handleTrafficButtonMouseDown()" onmouseup="return handleTrafficButtonMouseUp()">
	<img name="trafficButton" src="/images/location_map_controls/traffic_unselected_button.png" width="136" height="37" alt="Traffic Button"/>
	</a>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>

Search: <form onsubmit="showAddress(); return false" action="#">
	<input id="search" size="50" type="text" value="" />
	<input type="submit" value="Go!" />
</form>

<div id="message"></div>